<p>Dear <%= name %>, welcome to the first email</p>
<p>thanks for signing up. we are excited to have you</p>
<p>here are your login details</p>

<ul>
  <li>Email: <%= email%></li>
  <li>Login Url: <%= loginUrl%></li>
</ul>
